# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/



# Ignore Excel and Word files
*.xlsx
*.docx
*.txt
*.html
*.css
*.log
*.xml

# Ignore environment files
.env

# Ignore Folder
.venv/
assets/
reports/
